body{
  margin:0;
  padding:0;
}

html{
  font-family: roboto;
}
@font-face {font-family: roboto; src: url('Roboto-Thin.ttf');}
@font-face {font-family: robotosemibold; src: url('Roboto-Regular.ttf');}

.backgrounddiv{
  font-family: roboto;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 150px;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large{
  display: run-in;
}
.small{
  display: none;
}

.menubar{
  font-size: 25px;
  position:relative;
}

.menutitle{
  position:absolute;
  left: 50px;
  top: 50px
}

.menutitle > a{
  font-size: 30px;
}

.buttonbar{
  position: absolute;
  right:50px;
  top: 50px;
}
.box{
  padding: 25px;
  margin: 10px;
  box-shadow: 0px 9px 16px 0px rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
}
.whitesquare{
  position: relative;
  background-color: white;
  font-size: 25px;
  width: 300px;
  height: 300px;
  margin: 30px;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items:baseline;
  justify-content: center;
  padding: 25px;
  background-size: cover;
  background-position: center;
}

.whitesquare div{
  position: absolute;
  color: white;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  bottom:0px;
  width: 300px;
  text-align: center;
}

.box:hover{
  cursor: pointer;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.7);
  transition: 0.2s;
}

.whitesquare:active{
  box-shadow: none;
}

.whitesquare p{
  font-size: 20px;
  padding: 5px;
  margin: 0px 10px;
  color: black;
}
.whitesquare p .arrow{
  background-color: white;
  box-shadow: 0 9px 16px 0 rgba(0,0,0, 0.2);
  font-size: 20px;
  padding: 5px;
  color: black;
}
.rectanglebuttonwithshadow{
  text-align: center;
  text-decoration: none;
  font-family: roboto;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 20px;
  padding: 16px;
  margin: 10px;
  border: none;
  box-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.7);
}
.rectanglebuttonwithshadow .arrow{
  position: relative;
  transition: 0.25s;
  color:white;
}
.rectanglebuttonwithshadow:hover{
  cursor: pointer;
  transition: 0.25s;
}

.rectanglebuttonwithshadow:hover .arrow{
  padding-right: 15px;
}

.rectanglebuttonwithshadow .arrow:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  color:white;
  transition: 0.25s;
}

.rectanglebuttonwithshadow:hover span:after{
  right:0;
  opacity: 1;
  transition: 0.25s;
}

.rectanglebuttonwithshadow:active{
  color: white;
  background-color: #404040;
}

.optionsdiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
h1{
  font-size: 50px;
  padding-left:  20px;
}

.descriptiondiv{
  color:black;
  padding: 50px;

}

.descriptiondiv ul {
  font-size: 20px;
}

.descriptiondiv table{
  text-align: center;
  border-collapse: collapse;
  margin-left: 20px;
  margin-bottom: 40px;
}

.toprow td{
  font-size: 40px;
}
.bottomrow td{
  font-size: 15px;
}

.descriptiondiv table td{
  padding: 0 15px;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;

}

li{
  margin: 20px 0;
}

.ingredientsdiv{
  color:white;
  padding: 50px;

}

.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

@media (max-width: 799px) {
  .large{
    display: none;
  }
  .small{
    display: flex;
  }

  .backgrounddiv{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
  }

  .menutitle{
    position:absolute;
    left: 30px;
    top: 35px;
  }
  .menutitle > a {
      font-size: 30px;
  }

  .buttonbar{
      position: absolute;
      right: 15px;
      top: 15px;
      transition: 0.4s;
      height: 80px;
      overflow: hidden;
  }
  .buttonbar .large{
    transition: 0.4s;
    display: block;
  }
  /*.dropdown:hover .small{
    transition: 0.4s;
    padding-right: 100px;
  }
  .dropdown:hover {
    height: 360px;
  }*/


}




/* ****************** HOMEPAGE **************** */


/* ****************** FRENCH TOAST **************** */


/* ****************** MOMOS **************** */
