body{
  margin:0;
  padding:0;
}

html{
  font-family: roboto;
  scroll-behavior: smooth;
  background-color: lightgray;
  z-index: 4;
  overscroll-behavior: contain;
}

center{
    position: absolute;
    top: -20px;
    right: 50vw;
    z-index: 5;
}

@keyframes bounce {
    0%   {left:162px; top:90px;}
    2%  {width:112px; left:40px; top:90px;height: 3px;}
    4%  {width:3px; left:40px; top:90px; height: 3px;}
    6%  {width:3px; left:40px; top:45px; height: 45px;}
    8%  {width:3px; left:40px; top:45px; height: 3px;}
    10%  {width:112px; left:40px; top:45px; height: 3px;}
    12%  {width:3px; left:162px; top:45px; height: 3px;}
    14%  {width:3px; left:162px; top:45px; height: 45px;}
    16%  {width:3px; left:162px; top:90px; height: 3px;}
    18%  {width:0px; left:162px; top:90px; height: 0px;}
    /*80% {width:112px; left:50px; top:90px;height 3px;}
    100% {width: 0px; left:162px; top:90px;height 3px;}*/
}

#bounce{
    position: fixed;
    height: 3px;
    width: 3px;
    
    background-color: white;
    border-radius: 1px;
    animation: bounce 5s infinite ;
}
#bounce:hover{

    transition: 0.5s;
}

@font-face {font-family: roboto; src: url('Roboto-Thin.ttf');}
@font-face {font-family: robotosemibold; src: url('Roboto-Regular.ttf');}
@font-face {font-family: robotoregular; src: url('Roboto-Light.ttf');}

.backgrounddiv{
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 150px;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.large{
  display: run-in;
}
.small{
  display: none;
}

.menubar{
  background-color: rgba(255,255,255,0);
  height:125px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  transition: 0.3s;
     
}
html:not([data-scroll='0']) .menubar {
  background-color: rgba(255,255,255,0.5);
  transition: 0.3s;
}

.menutitle{
  position:absolute;
  left: 50px;
  top: 50px;
  position: fixed;
  z-index: 10000;
  background-color: rgba(0,0,0,0);
  transition: 0.2s;
}

.menutitle > a{
  font-size: 30px;
}

.buttonbar{
  position: absolute;
  right:50px;
  top: 50px;
  position: fixed;
  z-index: 10000;
}
.box{
  padding: 25px;
  margin: 10px;
  box-shadow: 0px 9px 16px 0px rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
}
.whitesquare{
  position: relative;
  background-color: white;
  font-size: 25px;
  width: 300px;
  height: 300px;
  margin: 30px;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items:baseline;
  justify-content: center;
  padding: 25px;
  background-size: cover;
  background-position: center;
}

.whitesquare div{
  position: absolute;
  color: white;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  bottom:0px;
  width: 300px;
  text-align: center;
}

.box:hover{
  cursor: pointer;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.7);
  transition: 0.2s;
}

.whitesquare:active{
  box-shadow: none;
}

.whitesquare p{
  font-size: 20px;
  padding: 5px;
  margin: 0px 10px;
  color: black;
}
.whitesquare p .arrow{
  background-color: white;
  box-shadow: 0 9px 16px 0 rgba(0,0,0, 0.2);
  font-size: 20px;
  padding: 5px;
  color: black;
}
.rectanglebuttonwithshadow{
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 20px;
  padding: 16px;
  margin: 10px;
  border: none;
  box-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.7);
}
.rectanglebuttonwithshadow .arrow{
  position: relative;
  transition: 0.25s;
  color:white;
}
.rectanglebuttonwithshadow:hover{
  cursor: pointer;
  transition: 0.25s;
}

.rectanglebuttonwithshadow:hover .arrow{
  padding-right: 15px;
}

.rectanglebuttonwithshadow .arrow:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  color:white;
  transition: 0.25s;
}

.rectanglebuttonwithshadow:hover span:after{
  right:0;
  opacity: 1;
  transition: 0.25s;
}

.rectanglebuttonwithshadow:active{
  color: white;
  background-color: #404040;
}

.optionsdiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
h1{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 60px;
  padding-left:  20px;
}
h1 span{
  font-size: 20px;
  padding-left: 10px;
}

.descriptiondiv{
  color:black;
  padding: 50px calc(4vw);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.descriptiondiv ul {
  font-size: 20px;
}

.descriptiondiv table{
  text-align: center;
  border-collapse: collapse;
  margin-left: 20px;
  margin-bottom: 40px;
}

.toprow td{
  font-size: 40px;
}
.bottomrow td{
  font-size: 15px;
}

.descriptiondiv table td{
  padding: 0 15px;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;

}

li{
  margin: 20px 0;
}

.ingredientsdiv{
  color:white;
  padding: 50px calc(4vw);;

}
.ingredientsdiv p{
  font-family: robotoregular;
  font-size: 20px;
  padding: 0 20px;
}
.ingredientsdiv ul{
  font-size: 20px;
}


.instructionsbgdiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-position: center;
  background-size: cover;
}

.instructionsdiv{
  padding: 50px calc(4vw);;
  color:black;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.instructions{
}
.instruction{
  //text-align:center;
}
.instructionnum{
  //border-right: 1px solid black;
  font-size: 80px;
  padding: 50px 100px;
  padding-left: 20px;
}
.instructioninfo{
  //border: 1px solid black;
  font-size: 25px;
  font-weight: ;
  padding: 50px 100px;
}

.instructions p{
  font-size: 25px;
  padding: 0 20px;
}


.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
  height: 500px;
}

.footer div{
  margin: 50px;
}
@media (max-width: 799px) {
  html{
    font-family: robotoregular;
  }
  .large{
    display: none;
  }
  .small{
    display: flex;
    justify-content: flex-end;
  }

  .backgrounddiv{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }

  .menutitle{
    position:fixed;
    left: 30px;
    top: 35px;
  }
  .menutitle > a {
      font-size: 30px;
      
  }

  .buttonbar{
      position: absolute;
      right: 15px;
      top: 15px;
      transition: 0.4s;
      height: 70px;
      overflow: hidden;
  }
  .buttonbar .large{
    transition: 0.4s;
    display: block;
  }

  h1{
    font-size: 40px;
  }
  .toprow td{
    font-size: 30px;
  }
  .bottomrow td{
    font-size: 10px;
  }
  .ingredientsdiv ul{
    font-size: 15px;
  }
  .descriptiondiv ul {
    font-size: 15px;
  }
  .rectanglebuttonwithshadow .arrow{
    font-family: robotoregular;
  }

  .whitesquare{
    font-size: 20px;
    width: 150px;
    height: 150px;
  }
  .whitesquare div{
    width: 150px;
  }
  .bottomrow td{
    font-size: 15px;
  }

  /*.dropdown:hover .small{
    transition: 0.4s;
    padding-right: 100px;
  }
  .dropdown:hover {
    height: 360px;
  }*/

  .instructionnum{
    font-size: 70px;
    padding: 30px 50px;
    padding-left: 20px;
  }
  .instructioninfo{
    //border: 1px solid black;
    font-size: 20px;
    font-weight: ;
    padding: 40px 0;
  }


}




/* ****************** HOMEPAGE **************** */


/* ****************** FRENCH TOAST **************** */


/* ****************** MOMOS **************** */

